<div class="col-md-10 col-md-offset-1" style="margin-top: 10px" ng-init="storeList()">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h6 class="panel-title">
				List Stores
				<button class="btn btn-primary btn-sm btn-icon col-md-offset-10" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-plus-circle fa-1x" aria-hidden="true"></i>
				</button>
			</h6>
			<div class="heading-elements">
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Description</th>
							<th>Code</th>
							<th>Business</th>
							<th>Regions</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, stor) in stores">
							<td>{{key +1}} </td>
							<td> {{stor.name}} </td>
							<td> {{stor.description}} </td>
							<td> {{stor.code}} </td>
							<td> {{stor.business_id.name}} </td>
							<td> {{stor.regions_id.name}} </td>
							<td class="text-center">
								<a type="button" data-toggle="modal" data-target="#myModal" ng-click="preUpdate(stor)"
								class="btn btn-info btn-xs">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</a>
							<a class="btn btn-danger btn-xs" ng-click="preDelete(stor)"
							data-toggle="modal" data-target="#myModal2">
							<i class="fa fa-trash" aria-hidden="true" >
							</i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="modal fade" id="myModal2" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Remove Stores</h4>
				</div>
				<div class="modal-body">
					<h3> Are you sure you want to delete the stores? </h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger" ng-click="delete()">Remove 
						<i class="fa fa-trash" aria-hidden="true" >
						</i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal" role="dialog">
		<form ng-submit="add(store)">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="close()" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">{{title}}</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>Name</label>
									<input type="text" required ng-model="store.name"  placeholder="Enter new Name" class="form-control">
								</div>

								<div class="col-md-6">
									<label>Description</label>
									<input type="text" required ng-model="store.description"  placeholder="Enter new Description" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group" ng-init="businessList()">
							<div class="row" ng-init="regionList()">
								<div class="col-md-3">
									<label>Code</label>
									<input type="text" required ng-model="store.code" class="form-control">
								</div>
								<div class="col-md-5">
									<label>Business</label>
									<select  ng-model="store.business_id" 
									ng-options="busin._id as busin.name for busin in business"
									class="form-control" required="required">
									<option value=""></option>
								</select>
							</div>
							<div class="col-md-4">
								<label>Regions</label>
								<select ng-model="store.regions_id"  required ng-options="region._id as region.name for region in regions"
								class="form-control" required="required">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Close</button>
					<button type="submit" ng-class="class">{{type}} 
						<i class="icon-arrow-right14 position-right">
						</i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
