<button class="btn btn-primary btn-sm btn-icon col-md-offset-11" ng-disabled="!staffUpdateBusiness.firstName"
data-toggle="modal" data-target="#store">
<i class="fa fa-plus-circle fa-1x" aria-hidden="true"></i>
</button>
<br/><br/>
<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Code</th>
            <th>Business</th>
            <th>Regions</th>
            <th>Active</th>
            <th> Action </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, stores) in staffUpdateBusiness.stores">
            <td>{{key + 1}}</td>
            <td> {{stores.name}} </td>
            <td> {{stores.code}} </td>
            <td> {{stores.business_id.name}} </td>
            <td> {{stores.regions_id.name}} </td>
            <td> {{stores.active ? 'Active' : 'Disable'}} </td>
            <td>
              <a class="btn btn-danger btn-xs" ng-click="preDeleteBusiness(stores)"
              data-toggle="modal" data-target="#storesDelete">
              <i class="fa fa-trash" aria-hidden="true" >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="storesDelete" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Remove Stores</h4>
          </div>
          <div class="modal-body">
            <h3> Are you sure you want to delete the Stores? </h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" ng-click="deleteStores()">Remove 
              <i class="fa fa-trash" aria-hidden="true" >
              </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  
  <div class="modal fade" id="store" role="dialog" style="margin-top: 150px">
    <form ng-submit="updateStaffStores(staff)" >
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">User Stores</h4>
          </div>
          <div class="modal-body" ng-init="storesList()">
            <div class="row">
              <div class="form-group">
                <label>Store </label>
                <select class="form-control" ng-model="staff.addStores" ng-options="store._id as store.name for store in stores">
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-class="class">{{type}} <i class="icon-arrow-right14 position-right"> </i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
